html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Muli','Helvetica Neue',Arial,sans-serif;
}

header {
	background-size: 100% 100%;
    position: relative;
    width:100%;
    height:100%;
    text-align: center;
    color: #fff;
    background:url(../images/mountain.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner{
	font-family: 'Oswald','Helvetica Neue',Arial,sans-serif;
	padding-top: 15%;
}

header .header-content .header-content-inner h1 {
	font-size:120px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
	/*letter-spacing:2px;*/
}

header .header-content .header-content-inner p {
	font-family: 'Oswald','Helvetica Neue',Arial,sans-serif;
	letter-spacing: 4px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

header .header-content .header-content-inner a, .btn-circle{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 3px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

header .header-content .header-content-inner a:hover,
header .header-content .header-content-inner a:focus, .btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.navbar-custom {
 	-webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
 	-moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
 	transition: background .3s ease-in-out,padding .3s ease-in-out;
}

.navbar-custom {
	font-size:14px;
	font-family:'Muli','Helvetica Neue',Arial,sans-serif;
	text-transform:uppercase;
	padding:10px;
}

.navbar-custom .navbar-brand {
	font-size:14px;
	font-weight:700;
	padding:10px;
}

.navbar-custom .navbar-brand {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-custom a {
	color:#fff;
}

.navbar-custom .navbar-nav>.active>a {
    background-color: gray;
}

.navbar-custom.navbar-shrink {
    background-color: black;
}

.navbar-custom .nav a:hover, .navbar-custom .navbar-brand:hover{
	background-color:transparent;
	outline:none;
	color:#c2d1e8;
}

.navbar-custom .navbar-toggle {
	border-color:#fff;
	z-index:1000;
}

.navbar-custom .icon-bar {
	background-color:#fff;
	z-index:1000;
}

section {
	padding:90px 0;
}

.content-row {
	background-color:#2b2b2b;
}

.content-row p, .content-row .col-lg-9 .section-heading, .content-row{
	color:white;
}

p, .section-heading {
    font-family: 'Muli','Helvetica Neue',Arial,sans-serif;
}

p{
	padding-top:20px;
	font-size:16px;
}

.section-heading {
	font-size:40px;
	font-weight:700;
}

img{
  margin-top: 30px;
	height:220px;
	width:220px;
	border-radius:100%;
}

.container-fluid{
	text-align:center;
	padding:50px;
}

.container-skills{
	padding-left, padding-right:1000px;
}

hr {
	width:25%;
	padding-bottom:50px;
	color:black;
}


.icon {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:black;
	width:70px;
    padding: 3px 3px;
    border:3px solid black;
    border-radius: 100%;
    margin-bottom:30px;
}

.project-heading{
	font-size:25px;
}

#skills .section-heading{
	padding-bottom:20px;
	text-align:center;
}

#skills{
	padding:100px;
	background-color:rgba(224, 224, 224, 1);
}

.progress{
	margin-bottom:0px;
	margin-top: 10px;
}

.container-skills {
	text-align:center;
}

#skills .row{
	padding:10px;
}


#contact{
	padding:50px;
}

#contact p{
	text-align:center;
	font-size:18px;
}

#contact .section-heading{
	padding-bottom:100px;
}

a:hover {
	cursor:pointer;
	text-decoration:none;
}

/*
#contact .col-md-4, #contact .col-sm-4{
	background-color:rgba(224, 224, 224, 1);
	padding:50px;
	border-radius:100%;
	width:200px;
	height:200px;
	padding-left:50px;
}
*/

#contact .address a{
	padding-top:0px;
}

.company-social{
	list-style:none;
}

.company-social li{
	display:inline-block;
}

p1 {
	padding-top:0px;
	font-size:20px;
	text-align:center;
}

.company-social{
	padding:0px;
}

.company-social li a i, .contact-icon{
	color:#383838;
}

footer {
	background-color:black;
	padding:20px;
	text-align:center;
}

footer p {
	color:#989898;
}

.project {
	padding:20px;
	height:375px;
	color:#000;
}
.project:hover {
	background-color:#f0edfc;
	cursor:pointer;
}

@media only screen and (max-width:769px) {
	header .header-content .header-content-inner {
		margin-top:40px;
	}
	header .header-content .header-content-inner h1 {
		font-size:72px;
	    margin-top: 0;
	    margin-bottom: 0;
	    text-transform: uppercase;
	    font-weight: 700;
		/*letter-spacing:2px;*/
	}

	header .header-content .header-content-inner p {
		font-family: 'Oswald','Helvetica Neue',Arial,sans-serif;
		letter-spacing: 4px;
	    margin-bottom: 50px;
	    font-size: 28px;
	    font-weight: 300;
	    color: rgba(255,255,255,.7);
	}
	.navbar-custom {
		background-color:#000;
	}
	#about {
		text-align:center;
	}
	#about .col-md-3 {
		margin-left:20%;
	}
}

